* {
    box-sizing: border-box;
    margin: 0;
    font-family: Vazirmatn, sans-serif;

}
body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    padding: 1rem;
    background-color: #F8F8F8;
}
h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}
#myform {
    width: 100%;
    max-width: 500px;
    background-color: #E5E0D8;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    padding: 2rem;
    border: 2px solid rgb(0, 0, 0 , 0.1);
    border-radius: 16px;
    gap: 10px;
}
#myform > .input_elements  {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    justify-items: center;
    width: 100%;
    gap: 10px;    
}
#myform > .input_elements > .input_and_labels {
display: flex;
flex-direction: column;
justify-items: start;
gap: 10px;
}
#myform > .input_elements > .input_and_labels > label {
font-weight: 600;
}
#myform > .input_elements > .input_and_labels > label:after {
content: " :";
}
#myform > .input_elements > .input_and_labels > input {
height: 3em;
border-radius: 8px;
outline: none;
border: none;
padding: 0px 1rem;
}
#myform > .input_elements > .input_and_labels > p {
margin: 10px 0px;
}
#myform > .input_elements > #submit {
background-color: #D1A980;
height: 3rem;
width: 50%;
align-self: center;
border-radius: 8px;
margin-top: 1rem;
border: none;
transition: background-color 0.4s ease;
transition: transform 0.4s ease-out;
font-size: 1rem;

}

#myform > .input_elements > #submit:hover {
background-color: #c7a37e;
cursor: pointer;
transform: translateY(-2px);
}
.information > svg {
    width: 28px;
    height: 28px;
}
.information {
    background-color: #dbd6cd;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    align-items: start;
    gap: 5px;;
}